<div class="row" style="padding: 5%; color: #270056;">
  <div class="col"><h3>Contact Name</h3></div>
  <div class="col"><h3><%= newContact.name %></h3></div>
  <div class="w-100"></div>
  <div class="col"><h3>Contact Mobile</h3></div>
  <div class="col"><h3><%= newContact.mobile %></h3></div>
  <div class="w-100"></div>
  <div class="col"><h3>Contact Email</h3></div>
  <div class="col"><h3><%= newContact.email %></h3></div> 
  <div class="w-100"></div> 
  <div class="col"><h3>Contact Designation</h3></div>
  <div class="col"><h3><%= newContact.designation %></h3></div>
  <br>
  <br>
  <div class="w-100"></div>
</div>